{% load static %}
<head>
<style type="text/css" src={% static "css/style_home.css" %}></style>
</head>

<body>
    <div class="page-header">
	    <h1><a href="/">Hackathon l'Oreal</a></h1>
    </div>
    <div>
    	<img src="", alt="une fille">
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    <div>
	    <button type="button"><a href="/">Dislike</a></button>
	    <button type="button"><a href="/">Try It</a></button>
	    <button type="button"><a href="/">Like</a></button>
    </div>
</body>
