{% extends 'app/base.html' %}

{% block content %}
    {% for prod in recos %}
        <div class="prod">
            	<img src="", alt="prodImg"></img>
		{% with "/prods/"|add:prod.eanCode as s%}
		<h2><a href={{ s }}>{{ prod.productName }}</a></h2>
		{% endwith %}
		{% with forloop.counter0|stringformat:"s" as s %}
		{% with "/new_prod/"|add:s as new_prod %}
		<button type="button"><a href={{ new_prod }}><img src="", alt="but"></img></a></button>
		{% endwith %}
		{% endwith %}
		<button type="button"><a href=""></a></button>
        </div>
        </div>
    {% endfor %}
{% endblock %}
